/* Fonts */

@font-face {
    font-family: 'komika axis';
    src: url('../fonts/KOMIKAX_-webfont.eot');
    src: url('../fonts/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMIKAX_-webfont.woff') format('woff'),
         url('../fonts/KOMIKAX_-webfont.ttf') format('truetype'),
         url('../fonts/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General*/

*:focus {
	outline: 0;
}

html {
	
}

body {
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
	background-image: url("../images/shopping.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;	
}


/* Main Section */

.main {
	margin: 2em auto;
	max-width: 40em;
	min-height: 36em;
	background-color: white;
	opacity: 0.9;
	/* Old Browser Opacity */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; // IE8
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	overflow: hidden;	
}


/* Heading Section */

.heading {
	margin: 1rem 0;
	overflow: auto;
}

.heading .title {
	font-family: 'komika axis', sans-serif;
	font-size: 2.5em;
	margin: 2rem 0 1rem 3rem;
	float: left;
}

.title .yellow {
	color: #D9FE55;
}

.heading .reset {
	margin: 2.7rem 0 0 5rem;
	float: left;
	padding: 0.5em;
	border-radius: 30px;
}

.heading .reset:hover {
	cursor: pointer;
	background-color: gray;
}


/* Adding Section */

.enter {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.enter .input {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	margin-left: 3rem;
	width: 27em;
	border: LightGray 1px solid;
	padding: 0.5em;
	border-radius: 30px;
}

.enter .add {
	margin-left: 1rem;
	padding: 0.5em;
	border-radius: 30px;
}

.enter .add:hover {
	cursor: pointer;
	background-color: gray;
}

.alert p {
	width: 27em;
	height: 2em;
	background-color: Salmon;
	border: Tomato 2px solid;
	text-align: center;
	margin-left: 3rem;
	margin-bottom: 2rem;
	padding: 0.5em;
	border-radius: 30px;
	display: none;
}

/* List Section */

.list {
	
}

.list p {
	width: 27em;
	height: 2em;
	background-color: gray;
	margin-left: 3rem;
	margin-bottom: 0.5rem;
	padding: 0.5em;
	border-radius: 30px;
}

.list .not-checked {
	background-color: #D9C055;
}

.list .checked {
	text-decoration: line-through;
	background-color: #F0D9AC;
}

.fa-check {
	float: left;
	margin-right: 1em;
}

.fa-circle-o {
	float: left;
	margin-right: 1em;
}

.fa-times {
	float: right;
}

/* Reponsive parameters */

@media only screen and (max-width: 700px) {
	body {
		padding: 0 1rem;
	}
	.main {
		padding-right: 0.5rem;
	}
}

@media only screen and (max-width: 650px) {
	.heading .reset {
		margin-left: 2rem;
	}
}

@media only screen and (max-width: 602px) {
	.heading .reset {
		margin: 1rem 0 0 3rem;
	}
	.heading .title {
		margin-right: 2rem;
	}
	.enter .input {
		width: 23em;
	}
}

@media only screen and (max-width: 540px) {
	.heading .title {
		margin-left: 1rem;
	}
	.heading .reset {
		margin-left: 1rem;
	}
	.enter .input {
		margin-left: 1rem;
	}
	.list p {
		margin-left: 1rem;
	}
}

@media only screen and (max-width: 510px) {
	.heading .title {
		font-size: 2em;
	}
	.enter .input {
		width: 19em;
	}
	.list p {
		width: 23rem
	}
}

@media only screen and (max-width: 450px) {
	.enter .input {
		margin-bottom: 0.5rem;
	}
	.list p {
		width: 19rem
	}
}

@media only screen and (max-width: 410px) {
	.heading .title {
		margin-right: 1rem;
	}
}

@media only screen and (max-width: 395px) {
	.heading .title {
		font-size: 1.5em;
	}
	.enter .input {
		width: 15rem
	}
	.list p {
		width: 15rem;
	}
}